body {
    background-color: #303030;
    color: whitesmoke;
    font-family: sans-serif;
}

main {
        width: 40%;
        margin: auto;
}

.list, .paragraphs {
    display: flex;
    flex-direction: column;
}